<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CryptoSafe</title>
	<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

	<div class="container">
		<h1> Crypto<span id="safe">Safe</span></h1><br>
		<form action="/data/" method=post enctype=multipart/form-data>
			<input id="real-file" type=file name=file hidden="hidden">
			<button type="button" id="custom-button" class="btn">Choose a File</button><br>
			<span id="custom-text" style="color: rgb(255, 251, 0); font-weight: bolder;">Invalid File Format</span>
			<br><br><br><br>
			Only .txt files allowed.

			<br><input type=submit id="real-process" value="Upload & Process" hidden="hidden">
			<button type="button" id="process" class="btn">Upload & Process</button><br>
		</form>

	</div>



	<script type="text/javascript">
		const realFileBtn = document.getElementById("real-file")
		const customBtn = document.getElementById("custom-button")
		const customTxt = document.getElementById("custom-text")
		const realProcessBtn = document.getElementById("real-process")
		const customProcess = document.getElementById("process")

		customBtn.addEventListener("click", () => {
			realFileBtn.click()
		})


		realFileBtn.addEventListener("change", () => {
			if(realFileBtn.value){
				customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1]

			} else {
				customTxt.innerHTML = "No file choosen, yet."

			}
		})


		customProcess.addEventListener("click", () => {
			realProcessBtn.click()
		})


	</script>


</body>

</html>