body {
  background-color: #303030;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

.icon{
  height: 100%;
  width: 100%;
  max-height: 100px;
  object-fit: contain
}

h2{
  margin-top: 0;
}

#safe{
    color: rgb(97, 238, 92);
}

.container {
  padding: 50px 20px;
  color: white;
  text-align: center;
  max-width: 300px;
  width: 70vw;
  height: 50vh;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}


.btn {
    padding: 14px 30px;
    margin: 20px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

#custom-text{
    color: #c2c2c2;

}  

.btn:hover{
    background-color: #c2c2c2;
    box-shadow: 0 5px 15px rgba(212, 212, 212, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

}